.container {
  padding: 0 2rem;
  background-color: #f1efee;
}
.containerColumn{
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'New Yorker Bold', Arial, Helvetica, sans-serif;
  /* add typewriter animation */
  /* Typewriter effect */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  /* letter-spacing: .15em; Adjusts the space between letters */
  animation: typing_title 0.7s steps(50, end);
  /* Adjust the width to fit your text and desired effect */
  max-width: 20ch; /* Change as per the length of your text */
}

/* Typewriter typing effect */
@keyframes typing_title {
  from { width: 0; }
  to { width: 100%; }
}


.title,
.description {
  text-align: center;
  font-family: 'New Yorker Bold', Arial, Helvetica, sans-serif;
  
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1rem;
  color: white;
  font-family: 'New Yorker Regular', Arial, Helvetica, sans-serif;
}



.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: 'New Yorker Regular', Arial, Helvetica, sans-serif;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  font-size: 1rem;
  font-family: 'New Yorker Italic', Arial, Helvetica, sans-serif;
  text-decoration: underline;
}


@keyframes grow {
  0% { max-height: var(--lineHeight); }
  100% { max-height: calc(var(--lineHeight) * var(--lines)); }
}

@keyframes carriageReturn {
  0% { top: 0; }
  100% { top: calc(var(--lineHeight) * var(--lines)); }
}

@keyframes type {
  0% { width: 100%; }
  100% { width: 0%; }
}

@keyframes caret {
  0% { color: var(--bgColor); }
  100% { color: black; }
}

.typewriter {
  --bgColor: #f1efee;
  --lines: 20;
  --lineHeight: 1.6rem;
  --timePerLine: 1.25s;
  --widthCh: 30;
  --width: calc(var(--widthCh) * 1ch);
  --time: calc(var(--lines) * var(--timePerLine));
  animation: grow var(--time) steps(var(--lines)) forwards;
  animation-fill-mode: forwards;
  background: var(--bgColor);  
  line-height: var(--lineHeight);
  max-height: var(--lineHeight);
  overflow: hidden;
  position: relative;
  width: var(--width);
  text-align: justify;
}

.typewriter::before {
  content: "";
  animation: 
    type var(--timePerLine) linear, 
    carriageReturn var(--time) steps(var(--lines)) var(--lines),
    caret 0.5s steps(2);
  background: var(--bgColor);
  border-left: 2px solid;
  bottom: 0;
  height: 2rem;
  position: absolute;
  right: 0;
  width: 100%;
}

.typewriter.no-caret::before {
  border-left-width: 0;
}

.typewriter.big-caret::before {
  border-left-width: 1ch;
}

.typewriter.monospace {
  font-family: monospace, monospace;
}

.typewriter.monospace::before {
  animation: 
    type var(--timePerLine) steps(var(--widthCh)) infinite, 
    carriageReturn var(--time) steps(var(--lines)) var(--lines),
    caret 0.5s steps(2);
}


.card {
  margin: 1em auto;
  padding: 1.5rem;
  text-align: justify;
  color: inherit;
  font-family: 'New Yorker Regular', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  width: fit-content; 
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.loadingDot {
  width: 6px;
  height: 6px;
  padding: 50%;
  margin: 0.5em auto;
  border-radius: 50%;
  background-color: #939393;
  animation: fade 1.6s ease-in-out infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@font-face {
  font-family: 'New Yorker Regular';
  src: url('../../font/ACaslonPro-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'New Yorker Italic';
  src: url('../../font/ACaslonPro-Italic.otf') format('truetype');
}

@font-face {
  font-family: 'New Yorker Bold';
  src: url('../../font/ACaslonPro-Bold.ttf') format('truetype');
}

.selectedImage {
  width: 100%; /* Full width on smaller screens */
  max-width: 200px; /* Maximum width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 20px; /* Rounded corners */
}

@media (min-width: 768px) {
  /* Adjustments for larger screens, e.g., tablets and desktops */
  .selectedImage {
    max-width: 20px;
  }
}
