.container {
  padding: 0 2rem;
}
.containerColumn{
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'New Yorker Bold', Arial, Helvetica, sans-serif;
  /* add typewriter animation */
  /* Typewriter effect */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  /* letter-spacing: .15em; Adjusts the space between letters */
  animation: typing_title 0.7s steps(50, end);
  /* Adjust the width to fit your text and desired effect */
  max-width: 20ch; /* Change as per the length of your text */
}

/* Typewriter typing effect */
@keyframes typing_title {
  from { width: 0; }
  to { width: 100%; }
}



.title,
.description {
  text-align: center;
  font-family: 'New Yorker Bold', Arial, Helvetica, sans-serif;
  
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1rem;
  color: white;
  font-family: 'New Yorker Regular', Arial, Helvetica, sans-serif;
}



.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: 'New Yorker Regular', Arial, Helvetica, sans-serif;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  font-size: 1rem;
  font-family: 'New Yorker Italic', Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

.type {
  font-family: monospace;
  font-weight: 500;
  color: inherit;
  font-size: medium;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 6%;
  text-align: justify;
  box-sizing: border-box;
  width: fit-content; 
}


.card {
  margin: 1em auto;
  padding: 1.5rem;
  text-align: justify;
  color: inherit;
  font-family: 'New Yorker Regular', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  width: fit-content; 
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.loadingDot {
  width: 6px;
  height: 6px;
  padding: 50%;
  margin: 0.5em auto;
  border-radius: 50%;
  background-color: #939393;
  animation: fade 1.6s ease-in-out infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@font-face {
  font-family: 'New Yorker Regular';
  src: url('../../font/ACaslonPro-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'New Yorker Italic';
  src: url('../../font/ACaslonPro-Italic.otf') format('truetype');
}

@font-face {
  font-family: 'New Yorker Bold';
  src: url('../../font/ACaslonPro-Bold.ttf') format('truetype');
}

.selectedImage {
  width: 100%; /* Full width on smaller screens */
  max-width: 200px; /* Maximum width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 20px; /* Rounded corners */
}

@media (min-width: 768px) {
  /* Adjustments for larger screens, e.g., tablets and desktops */
  .selectedImage {
    max-width: 20px;
  }
}
